body{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
.img{
	height: 600px;
    width: 1349px;
}
.img2{
	height: 85px;
    width: 94px;
}
.img3{
	   margin-top: 59px;
}
.head{
background-image: url("image/Layer 7@1X.png");
height: 600px;
width:1600px;
margin:auto;
}
.navbar { 
text-align: center;
 }
 .navbar ul {
 	padding-left: 0px;
  display:inline-flex;
  margin-top: 26px;
	font-family: 'Open Sans', sans-serif;}
 .navbar li { 
 	padding: 0px 31.61px;
    display: inline;
    font-size: 13pt;
    font-weight: 600;
    }
.second{
	width: 1601px;
    height: 470px;
    text-align: center;
    margin: auto;
}
h3{
	font-size: 18pt;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 3px;
}
p{
	font-size: 18pt;
	opacity: 1;
	font-family: 'Open Sans', sans-serif;
    color: #848789;
}
.title{
	width: 441px;
    height: 41px;
    margin: auto;
}
.paragraph{
	width: 1079px;
	height: 84px;
	margin:auto;
}
.third{
	background-image: url("image/Layer 10@1X.png");
	height: 600px;
    background-repeat: no-repeat;
    width: 1600px;
    margin:auto;
}
.fourth{
	width: 113px;
    height: 118px;
    position: relative;
    left: 478px;
    top: 240px;
    background-image: url("image/Logo@6X.png");
}
.five{
	width: 534px;
    height: 411px;
    float: right;
    margin-top: -118px;
  

}
.img4{
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 76px;
}

.p2{
	text-align: justify;
	width: 398px;
    height: 134px;
    margin: auto;
    margin-top: 20px;
}
.six{
	background-image: url("image/Layer 11@1X.png");
	height: 200px;
    background-repeat: no-repeat;
    width: 533px;
    margin-left: 1px;
    margin-top: 93px;
}
.seven{
    width: 1602px;
    height: 610px;
    margin: auto;
}
.seventwo{
    width: 535px;
    height: 410px;
    text-align: center;
}
.img5{
    width: 32px;
    height: 32px;
    margin: auto;
    margin-top: 47px;
}
.eight{
    background-color: #282f35;
    width: 1600px;
    height: 200px;
    margin:auto;
}
button{
    width: 300px;
    height: 50px;
    background: transparent;
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    border-color: #ffffff73;
}
.forheight{
    height:75px;
    text-align: center;
}
.eighttwo{
    text-align: center;
}
.nine{
    width: 1600px;
    height: 469px;
    margin:auto;
}
.forheighttwo{
    height: 109px;
}
.ninetwo{
    text-align: center;
}

input[type="text"]{
    width: 400px;
    height: 69px;
}
input[type="submit"]{
    width: 126px;
    height: 69px;
    background-color: #64c29e;
    background-image: url(image/GO@1X.png);
    background-repeat: no-repeat;
    text-indent: -99999px;
    background-position: center;
    background-origin: content-box;
    border: transparent;
    margin-left: 4px;
    }
.ninethree{
    width: 1600px;
}
.forheightthree{
    height: 39px;
}
.forheightfive{
    height: 35px;
}
.ten{
    width: 1600px;
    height: 469px;
    margin: auto;
    text-align: center;
 
}
.forheightfour{
height: 124px;
}
h6{
    width: 297px;
    height: 16px;
    margin: auto;
    margin-top: 37px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18pt;
    color: rgba(53, 55, 56, 255);
}






@media only screen and (min-width: 1600px) {
.third{

	}
}
