
/* .navbar {
        text-align: center;
        
        height:85px;

    }
    .navbar ul {
        display: inline-block;
        margin: 0;
        padding: 0;
       
        zoom:1;
        *display: inline;
    }
    .navbar li {
        float: left;
        padding: 2px 5px;

    }
    .navbar{
	width:618px ;
	height:85px;
	margin: auto;

}
.img2{
	width: 94px;
	height: 85px;
}
ul{
	    display: flex;
    list-style: none;

}
li{
	margin: auto;
}*/
body{
	margin:auto;
	padding: auto;
	box-sizing: border-box;
}
.navbar { 
text-align: center;
 }
 .navbar ul {
 	padding-left: 0px;
  display:inline-flex; 
margin-top: 10px}
 .navbar li { 
 	padding: 0px 31.61px;
    display: inline;
    font-size: 13px;
    font-weight: 600;
    }